html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.details {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.details img {
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details div {
    flex: 1;
    margin-bottom: 15px;
}

.details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.details p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.details a {
    color: #16173a;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.details a:hover {
    text-decoration: underline;
}

.but_mdp {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 1px solid #16173a;
    color: #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.but_mdp:hover {
    color: #fff;
    border: 1px solid white;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .details {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }

    .details img {
        max-width: 100%;
        height: auto;
    }

    .details div {
        text-align: center;
    }

    .details h2 {
        font-size: 1.5rem;
    }

    .details p {
        font-size: 0.9rem;
    }

    .but_mdp {
        font-size: 0.8rem;
        padding: 5px;
    }
}