.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: larger;
    padding: 10px;
    background-color: #d8a869;
}

.link {
    text-decoration: none;
    color: #16173a;
    transition: background-color 0.3s;
}

.link:hover {
    color: #fefefe;
}

.active {
    color: #ffffff;
}

