.container {
    margin: 0 auto;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

.input:focus {
    border: 1px solid #16173a
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #16173a;
    color: #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    color: #fff;
    border: 1px solid white;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.movieItem {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movieItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 2.5rem;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .text {
        font-size: 23px;
    }
}

.randomButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #16173a;
    background-color: transparent;
    border: 1px solid #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 0 auto 20px auto;
}

.randomButton:hover {
    color: #fff;
    border: 1px solid white;
}

.randomMovie {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.randomMovie img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

.randomMovie h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.randomMovie p {
    font-size: 1rem;
}

.movieLink {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #16173a;
    background-color: transparent;
    border: 1px solid #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.movieLink:hover {
    border-color: #fff;
    color: #fff;
}

.noMoviesText {
    color: rgb(177, 17, 17);
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.suggestions {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    background-color: #fff;
    z-index: 10;
    position: absolute;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}

.suggestionItem:hover {
    background-color: #f0f0f0;
}