.container {
    margin: 0 auto;
    padding: 20px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

.input:focus {
    border: 1px solid #16173a
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #16173a;
    color: #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    color: #fff;
    border: 1px solid white;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.movieItem {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movieItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 2.5rem;
    margin-top: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}