.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #16173a;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #16173a;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 23px;
    }
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

.input:focus {
    border: 1px solid #16173a
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #16173a;
    color: #16173a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    color: #fff;
    border: 1px solid white;
}

.newsList {
    list-style: none;
    padding: 0;
}

.newsItem {
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.newsItem a {
    color: #16173a;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .newsItem a {
        font-size: 15px;
    }
}

.newsItem h2 {
    font-size: 20px;
    color: #16173a;
}

@media screen and (max-width: 650px) {
    .newsItem h2 {
        font-size: 17px;
    }
}

.newsItem p {
    font-size: 1rem;
    line-height: 1.5;
    color: #16173a;
}

.error {
    color: rgb(177, 17, 17);
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}