body {
  background-color: #b07d3a;
  color: #16173a;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
}

.title {
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 23px;
  }
}

.genre_selector {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre_form {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #16173a;
  background-color: transparent;
  border: 1px solid #16173a;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.genre_text {
  margin-right: 7px;
  font-size: 17px;
  font-weight: 550;
}

@media screen and (max-width: 650px) {
  .genre_text {
    font-size: 15px;
  }
}

.noMoviesText {
  color: rgb(177, 17, 17);
  font-size: 1rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}